.card {
    padding: 10px;
}

.member {
   padding:20px;
}

.navbar-brand {
    font-size: 60px;
}

.repo {
    padding:10px; 
    text-align: center; 
}

.container {
    margin-top:20px;
}

.img-thumbnail {
     border-radius: 50%;
     padding-bottom:5px;
}

.rn{
    padding-left:20px; 
    padding-bottom:5px;
}

.com{
    padding-left:95px;
    padding-bottom:5px;
}

.lu{
    padding-left:80px;
    padding-bottom:5px;
}

.avitar{
    padding-left:130px;
    padding-bottom:5px;
}

.username{
    padding-left:40px;
    padding-bottom:5px;
}