.card {
    padding: 10px;
}

.container {
    margin-top:20px;
}

.navbar-brand {
    font-family: 'Oleo Script', cursive;
    font-size: 60px;
}

/* Styles for search results */
.com{
    padding-left:80px;
    padding-bottom:5px;
}

.commits{
    font-size:14px;
    font-weight:bold;
    text-align:center;
}

.dt {
    font-size:12px;
    font-weight:bold;
    text-align:center;
}

.img-thumbnail {
    padding-bottom:5px;
    border-radius: 50%;
} 

.lu{
    padding-bottom:5px;
    padding-left:70px;
}

.member {
    font-size: 14px; 
    font-weight:bold;
    padding:20px;
}

.repo {
    font-size:14px;
    font-weight:bold;
    padding:10px;
}

.rn{
    padding-left:20px; 
    padding-bottom:5px;
}

.ua{
    padding-left:125px;
    padding-bottom:5px;
}

.un{
    padding-left:40px;
    padding-bottom:5px;
}
